@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default;
}

/* DaisyUI plugin should be configured in the Tailwind CSS configuration file */

@layer components {
  .g {
    outline: 1px solid green;
  }

  .r {
    outline: 1px solid red;
  }

  .b {
    outline: 1px solid blue;
  }

  .y {
    outline: 1px solid yellow;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
